@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*{
    margin: 0;
    padding: 0;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    box-sizing: border-box;
}

.login-div-img{
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(./login-image.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(0, 95, 179);
}

.login-div{
    width: 100%;
    align-items:center;
    height: 1080px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.find-div-img{
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(./find-images2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: aliceblue;
}

.join-div-img{
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(./join-image.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(0, 95, 179);
}

.join-div{
    width: 100%;
    align-items:center;
    height: 1080px;
    display:flex;
    justify-content: center;
    align-items: center;
}

/*90%*/
@media ( min-width: 2132px ) {
    .login-div{
        height: 1200px;
    }
}

/*80%*/
@media ( min-width: 2399px ) {
    .login-div{
        height: 1350px;
    }
}

/*75%*/
@media ( min-width: 2559px ) {
    .login-div{
        height: 1450px;
    }
}

/*67%*/
@media ( min-width: 2879px ) {
    .login-div{
        height: 1680px;
    }
}

/*50%*/
@media ( min-width: 3839px ) {
    .login-div{
        height: 2160px;
    }
}

/*33%*/
@media ( min-width: 5759px ) {
    .login-div{
        height: 3240px;
    }
}

/*25%*/
@media ( min-width: 7679px ) {
    .login-div{
        height: 4320px;
    }
}


.login-win{
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    padding: 60px 30px;
    box-shadow: 5px 5px 5px #000;
}

.login-h1{
    text-align: center;
    font-size: 36px;
    color: #000;
    font-weight: bold;
    position: relative;
    top: -20px;
    font-family: 'Roboto'
}

.login-div .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin:30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 40px;
    font-size: 16px;
    color: #000;
    padding: 20px 45px 20px 20px;
    background-color: #fff;
}

.input-box input::placeholder{
    color:#000;
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.login-div .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot a{
    color:#000;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.login-div .login-btn{
    width: 100%;
    height: 45px;
    background-color: #000;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
}

.login-div .register-link{
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
    color:#000;
}

.register-link p a{
    color:#000;
    text-decoration: none;
    font-weight: 600; 
}

.register-link p a:hover{
    text-decoration: underline;
}

.bx{
    cursor: pointer;
}

#join-p{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.open-login{
    cursor: pointer;
    padding: 10px 20px;
    background-color: rgb(255, 255, 255);
    border: none;
    color: #000000;
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px;
    border: 2px solid #000;
    transition: 0.25s;
}

.open-login:hover{
    background-color: rgb(0, 0, 0);
    color: #fff;
    transition: 0.25s;
}

.pw-div{
    background-color: #fff;
    color: #000;
    transition: 0.25s;
}

.pw-div:hover{
    background-color: #000000;
    color: #ffffff;
    transition: 0.25s;
}






