.go-text{
    color:#98c4ff;
}

.JIN-text{
    color:#ffb158;
}

.lil-text{
    color:#2929b6;
}

.ine-text{
    color:#8a2be2;
}

.vii-text{
    color:#bcf330;
}

.ju-text{
    color:#af18af;
}


/* 
<span class="ine-text">

<span class="JIN-text">

<span class="lil-text">

<span class="ju-text">

<span class="go-text">

<span class="vii-text">

*/