@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Open+Sans:wght@700&display=swap');

*{
    margin: 0;
    padding:0;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background: #363636;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #707070;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    color:#fff;
    -webkit-user-select:none;
    -moz-user-select:none;  
    -ms-user-select:none;
    user-select:none;
    font-family: 'Lato', sans-serif;
    background-image: linear-gradient( rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1) ),url(./배경화면-1.jpg);
    background-size: cover;
}

input{
    box-shadow: 3px 3px 10px #efefef;
}

.back-icon{
    position: absolute;
    top: 0; 
    left: 0; 
    width: 100px;
    margin-top: 25px; 
    margin-left: 25px; 
    background-color: #fff; 
    border-radius: 50%; 
    padding: 10px;
}

.fillter{
    filter: drop-shadow(10px 10px 6px #000);
}

.inputText{
    font-size: 28px;
    text-align: left;
    color: #fff;
    margin-left: 3%;
    margin-top: 50px;
}

.inputText-1{
    font-size: 28px;  
    text-align: left;
    color: #fff;           
    margin-left: 3%;
}

.title{
    width: 92%;
    height: 20px;
    margin-left: 3%;
    border-radius: 5px;
    font-size: 14px;
    border: 1px solid #999;
    padding: 10px 0 10px 10px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.title-sub{
    width: 92%;
    height: 20px;
    margin-left: 3%;
    border-radius: 5px;
    font-size: 14px;
    border: 1px solid #999;
    padding: 10px 0 10px 10px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.name{  
    width: 92%;
    height: 20px;
    margin-left: 3%;
    border-radius: 5px;
    font-size: 14px;
    border: 1px solid #999;
    padding: 10px 0 10px 10px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.name-1{
    margin-left: 8%;
}

.detail{
    margin-top: 10px;
    width: 92%;
    height: 500px;
    border-radius: 5px;
    font-size: 25px;
    border: 1px solid #999;
    padding: 10px 0 10px 10px;
    vertical-align: top;
    resize: none;
    box-shadow: 3px 3px 10px #efefef;
    margin-left: 3%;
}

.link{  
    width: 92%;
    height: 20px;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 3%;
    border: 1px solid #999;
    padding: 10px 0 10px 10px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.filebox {
    margin-top: 25px;
    margin-left: 3%;
}

.filebox .upload-name {
    display: inline-block;
    height: 40px;
    padding: 5px 0 5px 10px;
    vertical-align: middle;
    border: 1px solid #dddddd;
    width: 100%;
    color: #999999;
    margin-left: 20px;
    font-size: 18px;
    box-shadow: 3px 3px 10px #efefef;
    width: 80%;
}

.filebox label {
    display: inline-block;
    padding: 5px 15px;
    border-radius: 5px;
    color: #fff;
    vertical-align: middle;
    background-color: #999999;
    cursor: pointer;
    height: 40px;
    text-align: center;
    line-height: 37px;
    font-size: 18px;
    transition: 0.2s;
    box-shadow: 3px 3px 10px #efefef;
}

.filebox label:hover {
    background-color: #b3b3b3;
    transition: 0.2s;
}

.filebox input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

#write{
    border: 2px solid #efefef;
    background-color: #4eeaff;
    color:#fff;
    text-align: center;
    font-size: 24px;
    padding:5px 20px;
    border-radius: 5px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    transition: 0.2s;
}

#write:hover{
    background-color: #4e9bff;
    cursor: pointer;
    transition: 0.2s;
}

#cancel{
    border: 2px solid #efefef;
    background-color: #ff694e;
    color:#fff;
    text-align: center;
    font-size: 24px;
    padding:5px 20px;
    border-radius: 5px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    transition: 0.2s;
    margin-left: 10px;
}

#cancel:hover{
    background-color: #ff2f0b;
    cursor: pointer;
    transition: 0.2s;
}

.main-p{
    font-size: 42px; 
    color: #fff; 
    text-align: center; 
    margin-top: 50px;
    font-weight: 500;
    filter: drop-shadow(5px 10px 6px #000);
}

@media ( max-width: 768px ) {
    .main-p{
        font-size: 32px; 
    }
}

@media ( max-width: 600px ) {
    .main-p{
        font-size: 24px; 
    }
    .inputText{
        font-size: 20px;
    }
    .inputText-1{
        font-size: 20px;
    }
    .detail{
        font-size: 20px;
    }
    #write{
        padding:5px 10px;
    }
    #cancel{
        padding:5px 10px;
    }   
}